#header{
    display: flex;
    padding-top: 30px;   
    position: relative; 
    background: transparent;
}

mat-toolbar-row {
    justify-content: center;
}

span a {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--font1);
    font-size: var(--font-size2);
    font-weight: var(--font-weight1);
}