<mat-toolbar>
  <mat-toolbar-row>
    <span class="logo col-2">
      <a href="/">
        <img src="assets/images/logo.png" alt="Logo Dorothy Piauí" width="100" height="100" />
      </a>
    </span>
    <div class="col-8 text-center">
      <span><a href="/">Página Inicial</a></span>
      <span><a href="/projetos">Projetos</a></span>
      <span><a href="/contato">Contato</a></span>
      <span><a href="/sobre-nos">Sobre nós</a></span>
    </div>

    <div class="col-2">
    </div>
  </mat-toolbar-row>
</mat-toolbar>