<div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <mat-card class="evento1"> 
                    <div class="col-6 esquerdo">
                        <img class="banner" mat-card-image src="assets/images/bannerCafe1.png" alt="Café com Tech">
                        <img class="adesivo" mat-card-image src="assets/images/cafecomtech.png" alt="Café com Tech">
                    </div>               
                
                    <div class="col-6 direito">
                        <mat-card-header class="row">
                            <mat-card-title>I Café com Tech</mat-card-title>                    
                        </mat-card-header>
                                        
                        <mat-card-content class="row">
                            Para contribuir com inclusão e diversidade de gênero na área de tecnologia,
                            um grupo de estudantes e professores de Ciência da Computação (UFPI) criou o
                            projeto Dorothy Piauí. Temos por objetivo realizar atividades de extensão
                            que promovam a permanência de estudantes e entrada de jovens mulheres e
                            pessoas trans do ensino básico e médio na ciência da computação.
                        </mat-card-content>
                        <mat-card-actions class="row">
                            <button mat-button>
                                Saiba mais
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card>
            </div>

        </div>
        <div class="carousel-item">
            <mat-card class="evento2"> 
                <div class="col-6">
                    <img class="banner" mat-card-image src="assets/images/bannerCafe1.png" alt="Café com Tech">
                    <img class="adesivo" mat-card-image src="assets/images/cafecomtech.png" alt="Café com Tech">
                </div>               
            
                <div class="col-6 ">
                    <mat-card-header class="row">
                        <mat-card-title>II Café com Tech</mat-card-title>                    
                    </mat-card-header>
                                    
                    <mat-card-content class="row">
                        Para contribuir com inclusão e diversidade de gênero na área de tecnologia,
                        um grupo de estudantes e professores de Ciência da Computação (UFPI) criou o
                        projeto Dorothy Piauí. Temos por objetivo realizar atividades de extensão
                        que promovam a permanência de estudantes e entrada de jovens mulheres e
                        pessoas trans do ensino básico e médio na ciência da computação.
                    </mat-card-content>
                    <mat-card-actions class="row">
                        <button mat-button>
                            Saiba mais
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</div>