div{
    background-image: url("/assets/images/welcome.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    filter: brightness(12%) opacity(90%) blur(1px);
    background-attachment: fixed;
    position: absolute;
}