<div class="container text-center">  
    <mat-card class="col">       
        <mat-card-header class="row">
            <mat-card-title>Projeto Dorothy Piauí</mat-card-title>
        </mat-card-header>     
        <mat-card-content class="row">
            Para contribuir com inclusão e diversidade de gênero na área de tecnologia,
            um grupo de estudantes e professores de Ciência da Computação (UFPI) criou o
            projeto Dorothy Piauí. Temos por objetivo realizar atividades de extensão
            que promovam a permanência de estudantes e entrada de jovens mulheres e
            pessoas trans do ensino básico e médio na ciência da computação.
        </mat-card-content>
        <mat-card-actions class="row">
            <button mat-button>
                Saiba mais
            </button>
        </mat-card-actions>
    </mat-card>
</div>